/* article.proof {
  padding-top: 1ex !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  border-right: none !important;
} */

/*change qed symbol:*/
.pretext-content .proof:after{
    content: '\25A0';
    font-size: x-large;
    display: block;
    /* border-bottom: none !important; */
    margin-left: auto;
    margin-right: -0.45em;
    margin-top:-1em;
    width: 1.5em;
    padding-bottom: 0.25em;
}

/* article.proof > *:last-child{
  padding-bottom: 0em;
  margin-bottom: 0em;
} */